---
import Layout from '../layouts/Layout.astro';
import Button from '../layouts/Button.astro';
---

<Layout title="Award">
    <main>
        <div class="cardWinner">
            <img src="ganador.png">
        </div>
        <div>
			<Button Element="a" id="lnkGame" href="/" type="return">Volver a Jugar</Button>	
		</div>
    </main>
</Layout>
<script>
if (document.cookie.includes('gameWin=true')) {
    // Mostrar contenido de la página
    document.cookie = "gameWin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
} else {
    window.location.href = "/";
}

</script>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;

	}
	.cardWinner {
        text-align: center;
        align-items: center;
	}
</style>
