--- 
import { ViewTransitions } from 'astro:transitions';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<h1>Apuesta al clic</h1>

		<slot />
	</body>

	
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;
    }
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    /* Estilo para el título */
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
	  color: white;
    }
    /* Estilo para el contador */
    .counter {
      font-size: 1.5rem;
      margin: 20px;
    }
</style>
